<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./style.css" />
    <title>BitCoinPrice</title>
  </head>

  <body>
    <div id="app">
      <h2>BitCoinPrice</h2>

      <section v-if="hasError">
        Error....
      </section>

      <section v-else>
        <div v-if="loading">
          Loading...
        </div>

        <div v-else>
          <ul v-cloak>
            <li v-for="(rate, currency) in bpi">
              {{ currency }}:{{ rate.rate_float | currencyDecimal }}
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./main.js"></script>
</html>
